.squad{
    width: 120px;
    height: 50px;
    background-color: gray;
    margin:10px;
    color:white;
    cursor:pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
}
.active{
    background-color: black;
}