.container,.title{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.container{
    cursor: pointer;
}
.container:hover{
    background-color: #cecece;
}

.title{
    background-color: #003cb3;
    color: white;
}